<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.lnu.ass3"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="at.lnu.ass3.MainList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="at.lnu.ass3.telephony.IncomingCalls"
            android:label="@string/tele_app_name" >
        </activity>
        <activity
            android:name="at.lnu.ass3.weather.VaxjoWeather"
            android:label="@string/vaxjo_app_name" >
        </activity>
        <activity
            android:name="at.lnu.ass3.weather.CityList"
            android:label="@string/weather_city_list_app_name" >
        </activity>
        <activity
            android:name="at.lnu.ass3.weather.CityForm"
            android:label="@string/weather_city_list_form_app_name" >
        </activity>

        <receiver
            android:name=".weather.WeatherWidget"
            android:label="@string/weather_widget_label" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_widget_provider" />
        </receiver>
    </application>

</manifest>